<html>
<head>
    <title>Mr & Ms Risci Pageant Scoresheet</title>
    <style>
        .contestant-navbar-placeholder{
                align-items: center;
                padding:1%;
                background-color:transparent;
                height:4vh;
                justify-content: space-between;
                display:flex;
            }
    </style>
</head>
<body>
{% include "contestant-navbar.j2" %}
<div class="contestant-navbar-placeholder"></div>
{% include "index-raw.j2" %}
</div>
</body>
</html> 